// .usersPage {
//   // flex: 1 0 auto;
//   flex: 1;
//   display: grid;
//   // grid: auto / repeat(auto-fit, minmax(332px, 1fr));
//   grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
//   gap: 16px;
// }
.usersPage {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
  gap: 16px;
  margin-top: 32px;
}

.userItem {
  display: flex;
  flex-direction: column;
  background-color: #1a1c23;
  border-radius: 16px;
  padding: 20px;
  width: 100%;
  height: 196px;
  position: relative;
  transition: border 0.3s;
  &:hover {
    border: 2px solid orange;
  }
  .deleteIcon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.faceName {
  display: flex;
  text-align: justify;
}

.unionDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.commonDiv {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  text-align: left;
}

.userImage {
  border-radius: 50%;
  margin-right: 16px;
}

.userDetails {
  flex-grow: 1;
}

.userName {
  color: #dcd8d3;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.userPhone,
.userBirthday,
.userAddress {
  align-items: baseline;
  color: #8c8988;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.phoneNumber,
.birthdayDate,
.addressDetails {
  margin-left: 15px;
  text-align: left;
  color: #dcd8d3;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.userEmail {
  color: #dcd8d3;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.userItem:hover .deleteIcon {
  display: block;
}
