.usersPage {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px 10px 10px 10px;
}

// @media (max-width: 768px) {
//   .usersPage {
//     padding: 0;
//   }
// }
.userItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2c2c2c;
  border-radius: 16px;
  padding: 20px;
  max-width: 332px;
  width: 100%;
  height: 196px;
  position: relative;
  transition: border 0.3s;
  &:hover {
    border: 2px solid orange;
  }
  .deleteIcon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.userImage {
  border-radius: 50%;
  margin-right: 10px;
}

.userDetails {
  flex-grow: 1;
}

.userName {
  color: #ffffff;
  font-weight: bold;
}

.userEmail {
  color: #aaaaaa;
}

.userItem:hover .deleteIcon {
  display: block;
}
