// .dashboard {
//   display: grid;
//   grid-template-columns: 1fr minmax(332px, 1fr);
//   gap: 10px;
// }

// .usersPage {
//   display: grid;
//   grid-gap: 16px;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
// }

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(332px, 1fr)) auto;
  gap: 16px;
}

.usersPage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
  gap: 16px;
}

.statsSidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 16px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

@media (min-width: 1200px) {
  .usersPage {
    grid-template-columns: repeat(
      4,
      minmax(332px, 1fr)
    ); /* Не более 4 карточек в ряд */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .usersPage {
    grid-template-columns: repeat(3, minmax(332px, 1fr));
  }
}
// .statsSidebar {
//   background-color: #333;
//   color: #fff;
//   padding: 20px;
//   border-radius: 16px;
//   position: sticky;
//   top: 20px;
//   height: fit-content;
// }
@media (max-width: 768px) {
  .dashboard {
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .usersPage {
    grid-template-columns: repeat(2, 1fr);
  }

  .statsSidebar {
    width: 100%;
  }
}
